Repository stephanebachelier/npm-dependency-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-standard --check --staged, jsonlint, yamllint

ci: add release for support branches
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  0c6abf4f0d749b4de12d4d1bac6b23d5847c9589
Due: none

chore: release v1.2.1
  CHANGELOG.md
  package.json
Due: prettier-standard --check --staged, jsonlint

Notes added by 'git notes add'
  0e507f8cf3a42ef5ce99761298bb56fbe73c6d52
Due: none

fix: add output logs
  src/helper/output.js
  src/helper/walk.js
Due: prettier-standard --check --staged

fix(npm): fix node engine version
  package.json
Due: prettier-standard --check --staged, jsonlint

chore: release v2.0.1
  CHANGELOG.md
  package.json
Due: prettier-standard --check --staged, jsonlint

Notes added by 'git notes add'
  59838ba25e45fbc355ed53acde4158ee92f67e80
Due: none

ci: add test & pr jobs
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: none

chore: add promise.allsettled
  package.json
  yarn.lock
Due: prettier-standard --check --staged, jsonlint

chore: change minimun node engine
  package.json
Due: prettier-standard --check --staged, jsonlint

feat(helper): switch to allSettled shim
  src/helper/walk.js
Due: prettier-standard --check --staged

fix(bin/graph): fix erroneous log output about default version used
  bin/graph/command.js
Due: prettier-standard --check --staged

chore: release v2.1.0
  CHANGELOG.md
  package.json
Due: prettier-standard --check --staged, jsonlint

Notes added by 'git notes add'
  2f203b218da6ac531296fccea401098494009441
Due: none

fix(scope-filter): fix scope negation and default bypass filter
  bin/graph/command.js
  src/index.js
Due: prettier-standard --check --staged

chore: release v2.1.1
  CHANGELOG.md
  package.json
Due: prettier-standard --check --staged, jsonlint

Notes added by 'git notes add'
  560fd2789820482a91fdccb65546a22d5c26d6fd
Due: none

fix(yarn): fix fs-extra@10.0.0 issue
  package.json
  yarn.lock
Due: prettier-standard --check --staged, jsonlint

chore: release v2.1.2
  CHANGELOG.md
  package.json
Due: prettier-standard --check --staged, jsonlint

Notes added by 'git notes add'
  c4ba57beab3ef7d0fdfab215646104471714b8cd
Due: none

Path conditions:
  prettier-standard --check --staged: ((any of: **/*.js) or (any of: *.json)) or (any of: *.yaml)
  jsonlint: any of: *.json
  yamllint: any of: *.yaml
