Repository stephanebachelier/npm-dependency-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-standard --check --staged, jsonlint, yamllint

.lintstagedrc.json:

{
  "**/*.js": ["prettier-standard --check --staged"],
  "*.json": ["jsonlint", "prettier-standard --check --staged"],
  "*.yaml": ["yamllint", "prettier-standard --check --staged"]
}

chore: add deps
  package.json
  yarn.lock
Due: prettier-standard --check --staged, jsonlint

feat: implement deps tree
  src/index.js
Due: prettier-standard --check --staged

feat: implement deps-graph command
  bin/graph/command.js
  bin/graph/index.js
  package.json
  yarn.lock
Due: prettier-standard --check --staged, jsonlint

chore(pkg): restrict to node 12
  package.json
Due: prettier-standard --check --staged, jsonlint

chore: add cache dep
  package.json
  src/index.js
  yarn.lock
Due: prettier-standard --check --staged, jsonlint

refactor: migrate to helper
  src/helper.js
  src/index.js
Due: prettier-standard --check --staged

feat: complete graph output
  bin/graph/index.js
  src/helper/graph.js
  src/helper/output.js
  src/helper/walk.js
  src/index.js
Due: prettier-standard --check --staged

chore: update deps
  package.json
  yarn.lock
Due: prettier-standard --check --staged, jsonlint

Revert "feat: graph"
  bin/graph/command.js
  bin/graph/index.js
  package.json
  src/helper/graph.js
  src/helper/output.js
  src/helper/walk.js
  src/index.js
  yarn.lock
Due: prettier-standard --check --staged, jsonlint

ci: fix flow
  .github/workflows/push.yml
Due: none

feat: add node 10 support
  package.json
  src/helper/promise.js
  src/helper/walk.js
  yarn.lock
Due: prettier-standard --check --staged, jsonlint

ci: configure actions
  .github/dependabot.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
Due: none

chore: add dev tools deps
  package.json
  yarn.lock
Due: prettier-standard --check --staged, jsonlint

chore: add release & snyk configuration
  .releaserc
  .snyk
Due: none

ci: remove invalid push flow
  .github/workflows/push.yml
Due: none

chore: release v1.0.0
  CHANGELOG.md
  package.json
Due: prettier-standard --check --staged, jsonlint

Notes added by 'git notes add'
  548573bbb17b80b1794ad3edda0cabd9948ac43b
Due: none

chore(pkg): fix lint:ci missing
  package.json
Due: prettier-standard --check --staged, jsonlint

feat(walk): set default depth to 3
  src/helper/walk.js
Due: prettier-standard --check --staged

feat(bin): add support for version in name or as a flag
  bin/graph/command.js
  bin/graph/index.js
Due: prettier-standard --check --staged

chore: release v1.1.0
  CHANGELOG.md
  package.json
Due: prettier-standard --check --staged, jsonlint

Notes added by 'git notes add'
  c3d443aceb636e0d10de9ca9dbd05f94b6e9d9e1
Due: none

feat: add support for name option
  bin/graph/index.js
  src/helper/output.js
  src/index.js
Due: prettier-standard --check --staged

chore: release v1.2.0
  CHANGELOG.md
  package.json
Due: prettier-standard --check --staged, jsonlint

Notes added by 'git notes add'
  0c6abf4f0d749b4de12d4d1bac6b23d5847c9589
Due: none

feat: add node 12 support
  package.json
  src/helper/promise.js
  src/helper/walk.js
  yarn.lock
Due: prettier-standard --check --staged, jsonlint

chore: update node version
  .github/workflows/release.yml
  .nvmrc
Due: none

chore: release v2.0.0
  CHANGELOG.md
  package.json
Due: prettier-standard --check --staged, jsonlint

Notes added by 'git notes add'
  93dee1dd17fa5ff175a5a9ab06b56052c48fa097
Due: none

fix: add output logs
  src/helper/output.js
  src/helper/walk.js
Due: prettier-standard --check --staged

ci: add release for support branches
  .github/workflows/release.yml
Due: none
